@model TransporteAereo.ViewModels.Admin.AssentoCreateViewModel

@{
    int index = (int)ViewData["index"];

    ViewData.TemplateInfo.HtmlFieldPrefix = $"Assentos[{index}]";
}

<div class="assento-item bg-gray-800 p-4 rounded-lg border border-gray-700">
    <div class="flex justify-end mb-3">
        <button type="button" class="remove-assento-btn text-red-400 hover:text-red-300 font-semibold text-sm transition duration-300">
            Remover
        </button>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

        <div class="form-group">
            <label asp-for="NumeroAssento" class="block text-sm font-medium text-gray-400 mb-2"></label>
            <input asp-for="NumeroAssento"
                   class="w-full bg-gray-700 text-white border border-gray-600 rounded-lg py-3 px-4 focus:ring-blue-500"
                   placeholder="Ex: 05A" />
            <span asp-validation-for="NumeroAssento" class="text-sm text-red-400 mt-1 block"></span>
        </div>

        <div class="form-group">
            <label asp-for="Classe" class="block text-sm font-medium text-gray-400 mb-2"></label>
            <select asp-for="Classe" asp-items="Html.GetEnumSelectList<TransporteAereo.Models.ClasseAssento>()"
                    class="w-full bg-gray-700 text-white border border-gray-600 rounded-lg py-3 px-4 focus:ring-blue-500"></select>
            <span asp-validation-for="Classe" class="text-sm text-red-400 mt-1 block"></span>
        </div>

        <div class="form-group">
            <label asp-for="Localizacao" class="block text-sm font-medium text-gray-400 mb-2"></label>
            <select asp-for="Localizacao" asp-items="Html.GetEnumSelectList<TransporteAereo.Models.LocalizacaoPoltrona>()"
                    class="w-full bg-gray-700 text-white border border-gray-600 rounded-lg py-3 px-4 focus:ring-blue-500"></select>
            <span asp-validation-for="Localizacao" class="text-sm text-red-400 mt-1 block"></span>
        </div>

        <div class="form-group">
            <label asp-for="Lado" class="block text-sm font-medium text-gray-400 mb-2"></label>
            <select asp-for="Lado" asp-items="Html.GetEnumSelectList<TransporteAereo.Models.LadoPoltrona>()"
                    class="w-full bg-gray-700 text-white border border-gray-600 rounded-lg py-3 px-4 focus:ring-blue-500"></select>
            <span asp-validation-for="Lado" class="text-sm text-red-400 mt-1 block"></span>
        </div>
    </div>
</div>